/* report 高度不能适配手机显示40vw 改为80vh */
.dt-scrollable {
    /* height: 80vh !important; */
    height: 80vh;
    overflow: auto;
    border-top: 2px solid #d1d8dd;
    border-top: 2px solid var(--dt-border-color);
}

/* 无效 */
@media (max-width: 700px) {
    .hidden-xs {
        display: none !important;
    }
}